spring:
  application:
    name: student-service

  datasource:
    url: jdbc:mysql://localhost:3306/student_db
    username: root
    password: ashu
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: localhost
      port: 6379

 
server:
  port: 8083  # Assign a different port from auth-service (8081)

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


