spring:
  application:
    name: gateway-service

  cloud:
    discovery:
      enabled: true

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # Route for auth-service (login, registration, users etc.)
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**, /api/users/**
          filters:
            - StripPrefix=1

        # Route for users-service (user profile management)
        - id: users-service
          uri: lb://users-service
          predicates:
            - Path=/api/profiles/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter

        # Route for student-service
        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/api/students/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter

        # Route for batch-service
        - id: batch-service
          uri: lb://batch-service
          predicates:
            - Path=/api/batches/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter

        # Route for course-service
        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/api/courses/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter

        # Route for admin-service
        - id: admin-service
          uri: lb://admin-service
          predicates:
            - Path=/api/admin/** 
          filters:
            - StripPrefix=1
            - AuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

server:
  port: 9090

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: INFO
    com.gateway_service: INFO
