spring:
  application:
    name: instructor-service
  datasource:
    url: jdbc:mysql://localhost:3306/instructor_db
    username: root
    password: ashu
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    exchange: instructor-exchange
    queue: instructor-queue
    routingkey: instructor-routing-key

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
